<form #f="ngForm">

    <div class="body-login" >
        <div class="container align-items-center">
            <div class="row text-center align-items-center">
                <div class="col-8">
                    <img class="logo-size" src="../../../assets/images/LogoTucanic.png" alt="">
                    <p class="phrase-logo">TuCanic</p>
                </div>
                <div class="col-4">
                    <div class="card">
                        <div class="card-body">
                            <p class="title-login">
                                Iniciar Sesión
                            </p>
                            <div class="form-floating mb-3 form-size" >    
                                <input type="email" name="correo" email="true" class="form-control" placeholder=""
                                required="true" [(ngModel)]="loginDto.email">
                                <label for="floatingInput" >Correo</label>
                                </div>
                            <div class="form-floating mb-4 form-size" >
                                <input type="password" name="contrasena" class="form-control" placeholder=""
                                required="true" [(ngModel)]="loginDto.contrasena">
                                <label for="floatingInput" >Contraseña</label>
                            </div>
                            <button class="btn-customize-pr text-btn" 
                            (click)="login()" type="submit" [disabled]="f.invalid">Entrar</button>
                            <div class=" link-recover">
                                <a routerLink="/recuperarContrasena">¡Olvide mi contraseña!</a>
                            </div>

                            <hr>

                            <button class="btn-outliner" type="submit" routerLink="/registro">Registrarme</button>

                        </div>
                    </div>         
                </div>
            </div>
        </div>
    </div>

    
</form>