<form #f="ngForm" (ngSubmit)="ingresar()">

    <div>
        <div class="container align-items-center">
            <div class="row text-center align-items-center">
                <div class="col-8">
                    <img class="logo-size" src="../../../assets/images/LogoTucanic.png" alt="">
                </div>
                <div class="col-4">
                    <div class="form-floating mb-3" >    
                        <input type="email" name="correo" email="true" class="form-control" placeholder=""
                        required="true" [(ngModel)]="loginDto.email">
                        <label for="floatingInput" >Correo</label>
                    </div>
                    <div class="form-floating mb-3" >
                        <input type="password" name="contrasena" class="form-control" placeholder=""
                        required="true" [(ngModel)]="loginDto.contrasena">
                        <label for="floatingInput" >Contraseña</label>
                    </div>
                    <button class="btn btn-outline-success" type="submit" [disabled]="f.invalid" >Ingresar</button>
                    <div class="form-floating link">
                        <a routerLink="/recuperarContrasena">¡Olvide mi contraseña!</a>
                    </div>
                </div>
            </div>
        </div>
    </div>

    
</form>