.title-recuperar{
    font-size: 35px;
    font-weight: 300;
    color: #a11818;
    margin: 15px 0;
}

.snackbar{
    background-color: rgb(180, 180, 180);
    width: 86%;
    padding: 10px;
    border-radius: 7px;
    font-size: 14px;
    font-weight: 400;
    color: rgb(59, 59, 59);
    margin: 20px auto 30px;
}

.form-size{
    width: 86%;
    margin: auto;
}

.btn-customize-error{
    background-color: #BA1A1A;
    padding: 10px 20px;
    color: white;
    border-radius: 25px;
    border: none;
    cursor: pointer;
    transition: 0.5s;
    margin: 40px 0 20px;
}

.btn-customize-error:hover{
    background-color: #a11818;
}