<form #f="ngForm" (ngSubmit)="recuperar()">

    <div>
        <div class="container align-items-center">
            <div class="row text-center align-items-center">
                <div class="col-8">
                    <img class="logo-size" src="../../../assets/images/LogoTucanic.png" alt="">
                    <p class="phrase-logo">TuCanic</p>
                </div>
                <div class="col-4">
                    <div class="card">
                        <div class="card-body">
                            <p class="title-recuperar">
                                Recuperar Contraseña
                            </p>

                            <div>
                                <p class="snackbar">
                                    Ingresa el codigo que hemos enviado a tu correo para que puedas recuperar tu contraseña
                                </p>
                            </div>
                            
                            <div class="form-floating form-size" >    
                                <input type="email" name="correo" email="true" class="form-control" placeholder=""
                                required="true" [(ngModel)]="recuperarContrasenaDto.codigoRecuperacion">
                                <label for="floatingInput" >Codigo</label>
                            </div>
                            <button class="btn-customize-error text-btn" type="submit">Recuperar</button>
                        </div>
                    </div>         
                </div>
            </div>
        </div>
    </div>

    
</form>