<div>
      <div class="head-window">
        <div class="title-window">
          Historial Consultas
        </div>
      </div>
    <div class="card">
      <div class="card-header ps-5 pt-4 pb-4">
        <h5 class="mb-0"><i class="fa-solid fa-comments me-3"></i>Historial de Consultas</h5>
      </div>
      <div class="card-body p-5">
        
  
        <table class="table table-striped table-hover">
          <thead>
            <tr>
            <th>Id consulta</th>
              <th>Nombre</th>
              <th>cedula paciente</th>
              <th>Fecha </th>
              <th>Motivo</th>
            </tr>
          </thead>
          <tbody class="table-group-divider">
            <tr *ngFor="let item of citasAtendidas">
                <td><p>{{item.codigoConsulta}}</p></td>
              <td><p>{{item.nombrePaciente}}</p></td>
              <td><p>{{item.idPaciente}}</p></td>
              <td><p>{{item.fecha}}</p></td>
              <td><p>{{item.motivo}}</p></td>
              
              <td><a routerLink="/detalleConsulta/{{item.codigoConsulta}}"><i class="fa-solid fa-circle-info me-2"></i>Ver detalle</a>
              </td>
            </tr>
          </tbody>
        </table>
      </div>
    </div>
  </div>
  