<form #f="ngForm" (ngSubmit)="registrar()">


    <div class="container text-center">
        <div class="row align-items-start">
          <div class="col">
            <div>
                <label>Nombre: </label>
                <input type="text" name="nombre" required="true" [(ngModel)]="crearPacienteDto.nombre" />
            </div>
        
            <div>
                <label>Apellido: </label>
                <input type="text" name="apellido" required="true" [(ngModel)]="crearPacienteDto.apellido" />
            </div>

            <div>
                <label>Correo electrónico: </label>
                <input type="email" name="correo" email="true" required="true" [(ngModel)]="crearPacienteDto.email" />
            </div>
            
            <div>
                <label>Contraseña: </label>
                <input type="password" name="password" required="true" [(ngModel)]="crearPacienteDto.contrasena" />
            </div>
            
            <div>
            <label >Repetir contraseña: </label>
                <input type="password" name="confirmaPassword"
                [(ngModel)]="crearPacienteDto.confirmarContrasena" required />
            </div>
            <p *ngIf="!sonIguales()"> Las contraseñas no coinciden</p>

            <div class="form-floating mb-3">
                <input type="number" class="form-control" id="floatingInput" placeholder="name@example.com" name="cedula" 
                required="true" [(ngModel)]="crearPacienteDto.cedula">
                <label for="floatingInput">Cedula</label>
            </div>
        
            <!-- <div>
                <label></label>
                <input type="text" name="cedula" required="true" [(ngModel)]="crearPacienteDto.cedula" />
            </div> -->
          </div>
          <div class="col">
            <div>
                <label>Teléfono: </label>
                <input type="text" name="telefono" required="true" [(ngModel)]="crearPacienteDto.telefono" />
            </div>
            <div>
                <label>EPS: </label>
                <select name="eps" required [(ngModel)]="crearPacienteDto.eps">
                    <option value="" selected> Seleccione una EPS</option>
                    <option [value]="item" *ngFor="let item of eps; index as i" >{{item}} </option>
                </select>
            </div>
            <div>
                <label>Tipo de sangre: </label>
                <select name="tipoSangre" required [(ngModel)]="crearPacienteDto.tipoSangre">
                    <option value="" selected>Seleccione un tipo de sangre</option>
                    <option [value]="item" *ngFor="let item of tipoSangre; index as i" >{{item}} </option>
        
                </select>
            </div>
            <div>
                <label>Alergias: </label>
                <input type="text" name="alergias" required="true" [(ngModel)]="crearPacienteDto.alergias" />
            </div>
            <div>
                <label>Ciudad: </label>
                <select name="ciudad" required [(ngModel)]="crearPacienteDto.ciudad">
                    <option value="" selected>Selecione una ciudad</option>
                    <option [value]="item" *ngFor="let item of ciudad; index as i">{{item}}</option>
                </select>
            </div>
          </div>
          <div class="col">
            <div>
                <label>Foto: </label>
                <input type="file" name="foto" (change)="onFileChange($event)" />
            </div>
        
            <div>
                <label>Fecha de nacimiento: </label>
                <input type="date" name="fechaNacimiento" required="true" [(ngModel)]="crearPacienteDto.fechaNacimiento" />
            </div>
          </div>
        </div>
      </div>
    
    <div  class="container text-center">
        <button type="submit" [disabled]="f.invalid || !sonIguales()" >Registrarse</button>
    </div>
    
</form>
