<div>
    <div class="head-window">
      <div class="head-window">
        <div class="title-window">
          Listar Citas del Médico
        </div>
      </div>
    </div>
    <div class="card">
      <div class="card-header ps-5 pt-4 pb-4">
        <h5 class="mb-0"><i class="fa-solid fa-comments me-3"></i>Lista citas del médico</h5>
      </div>
      <div class="card-body p-5">
        <table class="table table-striped table-hover">
          <thead>
            <tr>
            <th>Codigo</th>
              <th>Nombre Paciente</th>
              <th>ID Paciente</th>
              <th>Hora</th>
              <th>Motivo</th>
            </tr>
          </thead>
          <tbody class="table-group-divider">
            <tr *ngFor="let cita of listarCitas">
                <td><p>{{cita.idCita}}</p></td>
              <td><p>{{cita.nombrePaciente}}</p></td>
              <td><p>{{cita.idPaciente}}</p></td>
              <td><p>{{cita.hora}}</p></td>
              <td><p>{{cita.motivo}}</p></td>
              <td><a routerLink="/detalleCitaMedico/{{cita.idCita}}"><i class="fa-solid fa-circle-info me-2"></i>Ver detalle</a></td>
            </tr>
          </tbody>
        </table>
      </div>
    </div>
  </div>
  