<div>
    <div class="head-window">
      <div class="title-window">
        Dias libres del medico
      </div>
    </div>
  <div class="card">
    <div class="card-header ps-5 pt-4 pb-4">
      <h5 class="mb-0"><i class="fa-solid fa-comments me-3"></i>Lista dias libres del medico</h5>
    </div>
    <div class="card-body p-5">
      <table class="table table-striped table-hover">
        <thead>
          <tr>
          <th>Id</th>
            <th>fecha</th>
            <th>estado</th>
            <th>cedula</th>
            
          </tr>
        </thead>
        <tbody class="table-group-divider">
          <tr *ngFor="let dia of verDiasLibres">
              <td><p>{{dia.id}}</p></td>
            <td><p>{{dia.fecha}}</p></td>
            <td><p>{{dia.estadoDiaLibre}}</p></td>
            <td><p>{{dia.idMedico}}</p></td>
          </tr>
        </tbody>
      </table>
      <app-alerta-medico [alertaMedico]="alertaMedico"></app-alerta-medico>

    </div>
  </div>
</div>

