<div class="container ">
    <div class="row align-items-start">
      <div class="col-2">
        <div class="body-function">
            <button class="btn-menu" type="menu">Solicitar Una Cita</button>
            <button class="btn-menu" type="menu">Ver Historial De Consultas</button>
            <button class="btn-menu" type="menu">Generar Un PQRS</button>

            <div class="abajo" >
                <button class="btn-function" type="menu">Cerrar Sesión</button>
                <button class="btn-function" type="menu">Actualizar Datos</button>
                <button class="btn-function" type="menu">Darme de Baja</button>
            </div>
        </div>
      </div>
      
      <div class="col-10">
        <div class="head-window">
          <div class="title-window">
            Bienvenid@ Charlie
          </div>
          <div class="user-image">
            <img src="../../../../assets/images/imagen3.jpg" alt="">
          </div>
        </div>

        <div class="body-window">
            <div class="row align-items-start height-complete">
              <div class="col-6 height-complete">
                
                <div class="card card-body-window">
                  <div class="card-body">
                    <div class="title-card-ctz">Citas Pendientes</div>

                    <div class="card-items-ctz">

                      <div class="card mb-3">
                        <div class="row g-0">
                          <div class="col-md-2">
                            <div class="rounded-start img-card-info"></div>
                          </div>
                          <div class="col-md-10">
                            <div class="card-body">
                              <h6 class="card-title">Cita Oftalmologia</h6>
                              <p class="card-text"><small class="text-body-secondary">05 Dic 2023</small></p>
                            </div>
                          </div>
                        </div>
                      </div>
  
                      <div class="card mb-3">
                        <div class="row g-0">
                          <div class="col-md-2">
                            <div class="rounded-start img-card-info"></div>
                          </div>
                          <div class="col-md-10">
                            <div class="card-body">
                              <h6 class="card-title">Cita Oftalmologia</h6>
                              <p class="card-text"><small class="text-body-secondary">05 Dic 2023</small></p>
                            </div>
                          </div>
                        </div>
                      </div>

                    </div>

                    <div class="abajo">
                      <button href="#" class="btn-menu see-content">Ver</button>
                    </div>
                  </div>
                </div>

              </div>
              <div class="col-6 height-complete">
                
                <div class="card card-body-window">
                  <div class="card-body card-longer">
                    <div class="title-card-ctz">PQRS Activos</div>

                    <div class="card-items-ctz">

                      <div class="card mb-3">
                        <div class="row g-0">
                          <div class="col-md-2">
                            <div class="rounded-start img-card-info"></div>
                          </div>
                          <div class="col-md-10">
                            <div class="card-body">
                              <h6 class="card-title">Cita Oftalmologia</h6>
                              <p class="card-text"><small class="text-body-secondary">05 Dic 2023</small></p>
                            </div>
                          </div>
                        </div>
                      </div>
  
                      <div class="card mb-3">
                        <div class="row g-0">
                          <div class="col-md-2">
                            <div class="rounded-start img-card-info"></div>
                          </div>
                          <div class="col-md-10">
                            <div class="card-body">
                              <h6 class="card-title">Cita Oftalmologia</h6>
                              <p class="card-text"><small class="text-body-secondary">05 Dic 2023</small></p>
                            </div>
                          </div>
                        </div>
                      </div>
  
                      <div class="card mb-3">
                        <div class="row g-0">
                          <div class="col-md-2">
                            <div class="rounded-start img-card-info"></div>
                          </div>
                          <div class="col-md-10">
                            <div class="card-body">
                              <h6 class="card-title">Cita Oftalmologia</h6>
                              <p class="card-text"><small class="text-body-secondary">05 Dic 2023</small></p>
                            </div>
                          </div>
                        </div>
                      </div>

                    </div>
                    <div class="abajo">
                        <button href="#" class="btn-menu">Ver</button>
                      </div>
                    
                    </div>
                  </div>
                </div>
            </div>
          </div>
      </div>
      
    </div>
  </div>
