
<div class="card card-space">
  <div class="card-body">
    <header>
      <nav class="navbar navbar-expand-lg bg-body-tertiary">
        <div class="container-fluid">
          <a class="navbar-brand" href="#">{{title}}</a>
          <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
          </button>
          <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <ul class="navbar-nav me-auto mb-2 mb-lg-0">
              <li class="nav-item">
                <a class="nav-link" aria-current="page" routerLink="/inicio">Inicio</a>
              </li>
              <div *ngIf="!isLogged; then nologged else logged"></div>  

              <ng-template #nologged>
                <li class="nav-item">
                  <a class="nav-link" aria-current="page" routerLink="/login">Ingresar</a>
                </li>
                <li class="nav-item">
                  <a class="nav-link" aria-current="page" routerLink="/registro">Registrarse</a>
                </li>
              </ng-template>

              <ng-template #logged>
                <div class="text-end">
                  <label class="me-3" >Hola {{email}}</label>
                  <button type="button" (click)="logout()" class="btn btn-warning">Logout</button>
                </div>
              </ng-template>

              <li class="nav-item">
                <a class="nav-link" aria-current="page" routerLink="/recuperarContrasena">recuperar contraseña</a>
              </li>
              <li class="nav-item">
                <a class="nav-link" aria-current="page" routerLink="/pacienteInicio">Inicio Paciente</a>
              </li>
              <li class="nav-item">
                <a class="nav-link" aria-current="page" routerLink="/crearPqrs">Crear pqrs</a>
              </li>
            </ul>
            <form class="d-flex" role="search">
              <input class="form-control me-2" type="search" placeholder="Search" aria-label="Search">
              <button class="btn btn-outline-success" type="submit">Search</button>
            </form>
          </div>
        </div>
      </nav>
    </header>
    <main>
      <router-outlet></router-outlet>
    </main>
    <footer>
      <p>TuCanic® Corporation</p>
    </footer>
  </div>
</div>

