<div class="card-body p-5">
    <!-- Mostrar detalles del PQRS si existe -->
    <div *ngIf="pqrs">
      <label>Código PQRS:</label>
      <p>{{pqrs.idPQRS}}</p>

      <label>Código consulta:</label>
      <p>{{pqrs.idConsulta}}</p>

      <<label>Asunto:</label>
      <p>{{pqrs.asunto}}</p>

      <label>Fecha de creación:</label>
      <p>{{pqrs.fechaCreacion | date:'medium'}}</p>

      <label>Tipo PQRS:</label>
      <p>{{pqrs.tipoPQRS}}</p>

      <label>Estado:</label>
      <p>{{pqrs.estadoPQRS}}</p>

      <label>Mensaje:</label>
      <p>{{pqrs.mensaje}}</p>

</div>