/* You can add global styles to this file, and also import other style files */
body{
    background-color: rgb(230, 255, 217);
}

main{
    margin: 20px 0;
    height: 66vh;
    max-height: 66vh;
    overflow-y: auto;
}

footer{
    position: absolute;
    bottom: 0;
}

.card{
    height: 94vh;
}

.card-space{
    margin-top: 20px;
    margin-bottom: 20px;
    margin-right: 70px;
    margin-left: 70px;
}


.logo-size{
    margin: 10vh 0;
    width: 30vh;
}